<html>
<meta charset="utf-8">

<head>
    <link rel="stylesheet" href="/stylesheets/analyzeData.css">
    <script src="/external/jquery/jquery.js"></script>
    <script src="/javascripts/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#draggableStates").sortable();
            $("#draggableStates").disableSelection();
        });
    </script>
</head>
<body>
<div class="header">
    <% include header %>
</div>

<div class="mainBody">
    <span class="stateTitle">States</span>
    <ul id="draggableStates">
        <%
        var options = states;
        for ( var i = 0; i < options.length; i++ )
        {
        %>
        <li class="stateNames"> <%= options[i].state %></li>
        <%
        }
        %>
    </ul>
</div>
<% include footer %>
</body>
</html>