<html>
<head>
    <meta charset="UTF-8">
    <title>Create new eviction record</title>
    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <script src="/javascripts/evictionFormValidation.js"></script>
</head>
<body onload="headerModification()">
    <div class="header">
        <nav>
            <ul id="navList">
                <li><span>EvictionLand</span></li>
                <li><a href="/admin/home">Home</a></li>
                <li><a href="/dashboard/state">Dashboard</a></li>
                <li><a href="/rankings">Rankings</a></li>
                <li><a href="/ourteam">Contact</a></li>
                <li><a href="/users/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
<div>
    <div class="message"><label><%=message %></label></div>
    <h2>Create new Eviction Record</h2>

    <form name="evictionForm" action="/create/new" method="post" onsubmit="return validateEvictionForm()">
        State:
        <input type="text" name="name" value="">
        <label class="error" id="NameError"></label>
        <br>
        Year:
        <input type="number" name="year" value="">
        <label class="error" id="yearError"></label>
        <br>
        Population:
        <input type="number" name="population" value="">
        <label class="error" id="populationError"></label>
        <br>
        Poverty Rate:
        <input type="number" name="povRate" value="">
        <label class="error" id="povRateError"></label>
        <br>
        Median Gross Rent:
        <input type="number" name="MedGrossRent" value="">
        <label class="error" id="MedGrossRentError"></label>
        <br>
        Median Household Income:
        <input type="text" name="MedHouseInc" value="">
        <label class="error" id="MedHouseIncError"></label>
        <br>
        Median Property Value:
        <input type="text" name="MedianPropValue" value="">
        <label class="error" id="MedianPropError"></label>
        <br>
        Rent Burden:
        <input type="text" name="RentBurden" value="">
        <label class="error" id="RentBurdenError"></label>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
<% include footer %>
</body>
</html>
