<html>
    <meta charset="utf-8">

    <head>
        <link rel="stylesheet" href="/stylesheets/admin.css">
        <link href="/stylesheets/jquery-ui.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/javascripts/domModify.js"></script>
        <script src="/external/jquery/jquery.js"></script>
        <script src="/javascripts/jquery-ui.js"></script>
    </head>

    <body onload=headerModification()>
        <div class="header"></div>
        <div>
            <% include header %>

                <div class="adminHeading">
                    <h2 class="heading">Admin Home</h2>
                </div>
                <div class="forms">
                    <div id="csvfileUpload">
                        <form method="post" enctype="multipart/form-data" action="/admin/add">

                            <h4 for="csvfile">Please Upload a file to populate the Database. (.xlxs)</h4>

                            <input type="file" name="csvfile" id="csvfile"><br>
                            <br/>
                            <button type="submit" class="okButton">Submit</button>
                            <label class="msg"><%= message%></label>
                            <label class="err"><%= error%></label>
                        </form>
                    </div>
                </div>


        </div>
        <% include footer %>
    </body>