<html>
<meta charset="utf-8">

<head>
    <link href="/stylesheets/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/javascripts/domModify.js"></script>
    <script src="/external/jquery/jquery.js"></script>
    <script src="/javascripts/jquery-ui.js"></script>
</head>

<body onload=headerModification()>
<div class="header"></div>
<div>
    <% include header %>

    <div class="forms">
        <div id="csvfileUpload">
            <form method="post" enctype="multipart/form-data" action="/admin/add">

                <label for="csvfile">CSV File Upload</label><br>
                <input type="file" name="csvfile" id="csvfile"><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>


</div>
<% include footer %>
</body>