<!DOCTYPE html>
<html>

  <head>
    <title>US Map</title>
    <link rel="stylesheet" href="/stylesheets/map.css">
    <script src="/javascripts/raphael.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="/javascripts/color.jquery.js"></script>
    <script src="/javascripts/jquery.usmap.js"></script>

    <script>
      $(document).ready(function() {
        $('#map').usmap({
          'stateSpecificStyles': {
            'AK': {
              fill: '#f00'
            }
          },
          'stateSpecificHoverStyles': {
            'HI': {
              fill: '#ff0'
            }
          },

          'mouseoverState': {
            'HI': function(event, data) {
              //return false;
            }
          },

          'click': function(event, data) {
            $('#alert')
              .text('Selected state: ' + data.name)
              .stop()
              .css('backgroundColor', '#ff0')
              .animate({
                backgroundColor: '#ddd'
              }, 1000);
          }
        });
      });
    </script>
  </head>

  <body>
    <% include header %>
      <div id="alert">Selected State: None</div>

      <div id="map"></div>

      <% include footer %>
  </body>

</html>