.landingContainer {
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
}

.heading {
    font-size: 18px;
    font-family: SansSerif;
    font-weight: 700;
}

.okButton, .clearButton {
    font-size: 14px;
    border: 1px solid;
    border-color: white;
    color: white;
    font-weight: 400;
    background-color: maroon;
    height: 30px;
}

.clearButton {
    margin-left: 15px;
}

.heading {
    margin-left: 45%;
}

.msg {
    color: green;
}

.err {
    color: red;
}

.leftside{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.rightside{
    width: 59%;
    display: inline-block;
    vertical-align: top;
}

.userRecord {
    border: 1px solid;
    margin-bottom: 20px;
}

.userRecord span{
   display: inline-block;

    font-size: 20px;
    padding: 10px 0px 10px 10px ;
}
.userName, .email, .phone{
    width: 25%;
}


.searchuser{
    line-height: 20px;
    width: 300px;
    margin-bottom: 15px;
}

.forms{
    min-height: 400px;
}

