.landingContainer {
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
}

.heading {
    font-size: 18px;
    font-family: SansSerif;
    font-weight: 700;
}

.okButton, .clearButton {
    font-size: 14px;
    border: 1px solid;
    border-color: white;
    color: white;
    font-weight: 400;
    background-color: maroon;
    height: 30px;
}

.clearButton {
    margin-left: 15px;
}
