.mainBody {
    min-height: 400px;
    margin-top: 50px;
}

#draggableStates {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    width: auto;
    background-color: white;
}

#draggableStates li {
    margin: 10px;
    padding: 1px;
    float: left;
    width: 100px;
    height: 90px;
    font-size: 4em;
    text-align: center;
    background-color: #e24000;
}
